#header {
  padding: 10px;
  margin: 20px;
  font-weight: 800;
  color: black;
}

#name {
  padding: 20px;
}

#description {
  text-indent: 2em;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 1000;
  color: black;
}

#description > p {
  padding: 30px;
}

#hours{
  color: black;
  font-size: 30px;
  margin: 40px;
}

#hours > p {
  padding: 10px;
  font-size: 20px;
}

#location {
  padding: 20px;
  font-size: 20px;
}
