
#header {
  padding: 10px;
  margin: 20px;
  font-weight: 800;
  color: black;
}

#description {
  text-indent: 2em;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 1000;
  color: black;
}

#hours{
  color: black;
  font-size: 20px;
  margin: 40px;
}

img {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#location {
  font-size: 20px;
}

#content {
  text-align: center;
  padding-right: 30px;
  width: 70%;
  border: solid 5px black;
}
